<%- layout('layouts/plantilla.ejs')%>
<form class="form" >
    
    <div class="form_container">

        <h1>Mi QR</h1>

        <div class="form_group">

        </div>

     
       
        
    

    </div>
</form>





